<% include partials/header %>
<body>
	<div class="col-md-4"></div><div class="col-md-4 box text">
	<h1>Item Information</h1>
	<ul>
	<% if (itemInfo) { %>
	<li><img src="<%= itemInfo.galleryURL %>"></li>
		<li>Title: <%= itemInfo.title %></li>
		<li>Location: <%= itemInfo.location %></li>
		<li>Zip Code: <%= itemInfo.postalCode %></li>
		<li>URL: <%= itemInfo.viewItemURL %></li>
		<li>Current Price: <%= itemInfo.sellingStatus[0].currentPrice[0].__value__ %></li>
	<% } %>
	</ul>
</div>
</body>
</html>